<link rel="stylesheet" type="text/css" href="/css/application.css">

<center><h1>Alex's URL shortener</h1>
<h2>Make sure the "http/https" is included idiot! </h2>
<form action="/urls" method="post">
    Enter URL:
    <input type="text" name="long_url" placeholder= "http://example.com/">
    <input type="submit" value="Submit">
 </form>

<% @urls.each do |url|  %>
<%= url.long_url%>
<p> </p>
<a href= "<%=url.long_url%>"> "<%=url.short_url%>"</a>
<% end %>


</center>
